/*
/*/
!/vetercek_2G/
!/vetercek_2G/*
/vetercek_2G/config.h
!/vetercek_wifi/
!/vetercek_wifi/*
/vetercek_wifi/config.h
!/vetercek_nb-iot/
!/vetercek_nb-iot/*
/vetercek_nb-iot/config.h
!/vetercek_nb-iot-HW/
!/vetercek_nb-iot-HW/*
!/vetercek_SIM7070/
!/vetercek_SIM7070/*
!/vetercek_SIM7070_modbus/
!/vetercek_SIM7070_modbus/*
!/3D prints/
!/3D prints/*
!.gitignore

!/README.md
!/LICENSE

